<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="LOG_HOME" value="/www/logs/free-talk"/>    <!-- 日志存储的路径 -->
    <property name="LOG_APP_NAME" value="free-talk"/>
    <!--日志输出格式-->
    <property name="COLOR_CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${COLOR_CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!-- 文件输出 -->
    <!-- 按照每天生成日志文件 -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_APP_NAME}-error.log</file>
        <!-- 只打印错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/backup/${LOG_APP_NAME}-error.log.%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
            <!--日志保存天数-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--按100M切割日志文件-->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d [${LOG_APP_NAME}] [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--业务日志 -->
    <appender name="BIZ_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_APP_NAME}-biz.log</file>
        <!--只打印INFO-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/backup/${LOG_APP_NAME}-biz.log.%d{yyyy-MM-dd}-%i.gz</fileNamePattern>
            <!--日志保存天数-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--按100M切割日志文件-->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d [${LOG_APP_NAME}] [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--本地日志配置-->

    <root level="DEBUG">
        <!--控制台输出-->
        <appender-ref ref="STDOUT"/>
        <!--错误日志-->
        <appender-ref ref="ERROR_LOG"/>
        <!--业务日志-->
        <appender-ref ref="BIZ_ROLLING_FILE"/>
    </root>
    <!--日志输出设置 -->
    <!--业务日志 -->
    <logger name="com.fpx" level="INFO"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="com.alibaba" level="ERROR"/>

</configuration>
