<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>首页</title>
    <!--bootstrap样式-->
    <link rel="stylesheet" type="text/css"
          href="http://static.dev.4px.com/fpxres/bootstrap/lastest/css/bootstrap.min.css">

    <!--iconfont是字体图标-->
    <link rel="stylesheet" type="text/css" href="http://static.dev.4px.com/fpxres/iconfont/iconfont.css">

    <!--layer是弹出框的样式-->
    <link rel="stylesheet" type="text/css" href="http://static.dev.4px.com/fpxres/layer/lastest/css/layer.css">

    <!--fpx.ued.css是UED框架自带的CSS-->
    <link rel="stylesheet" type="text/css" href="http://static.dev.4px.com/fpxres/ued/lastest/fpx.ued.css">

    <!--fpx.ued.override.css是在fpx.ued.css的基础上，对一些样式进行重写覆盖-->
    <link rel="stylesheet" type="text/css" href="http://static.dev.4px.com/fpxres/ued/lastest/fpx.ued.override.css">

    <!--fpx.ued.css这个主要是针对UED框架的一个皮肤设置样式-->
    <link rel="stylesheet" type="text/css" href="http://static.dev.4px.com/fpxres/ued/lastest/fpx.ued.css">
    <style type="text/css">
        .info_box {
            padding: 15px 30px;
        }

        .left_logo_box, .right_content {
            float: left;
            height: 200px;
        }

        .left_logo_box {
            width: 180px;
            line-height: 200px;
            text-align: center;
            margin-right: 45px;
        }

        .left_logo {
            vertical-align: middle;
            display: inline-block;
            width: 180px;
        }

        .right_content_top {
            min-height: 80px;
        }

        .right_content_btn {
            margin-top: 30px;
        }
    </style>
</head>
<body>


<div class="content-wrapper" style="min-height: 838px;">
    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 60px;">
        <section class="content-header pin" style="width: 100%;">
            <span class="nav-title">Home</span>
        </section>
    </div>
    <section class="content page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="info_box">
                    <div class="left_logo_box">
                        <img class="left_logo" src="images/City.png" alt="" srcset="">
                    </div>
                    <div class="right_content row">
                        <div class="right_content_top">
                            <h3>Local courier express</h3>
                            <p>4PX Australia Local Express Service, based on 4PX Pick-up, Drop-off and Terminal Delivery
                                Vehicles, providing all-around logistic service——“The last mile express” to local
                                merchants and customers.</p>
                            <p>Currently supported cities: Sydney Melbourne</p>
                        </div>
                        <div class="right_content_btn">
                            <button type="button" class="btn btn-info col-md-6">Order Online</button>
                            <button type="button" class="btn btn-info col-md-4 col-md-offset-2">Track search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="info_box">
                    <div class="left_logo_box">
                        <img class="left_logo" src="images/National.png" alt="" srcset="">
                    </div>
                    <div class="right_content row">
                        <div class="right_content_top">
                            <h3>National express</h3>
                            <p>The cheapest price to you the best service</p>
                        </div>
                        <div class="right_content_btn">
                            <button type="button" class="btn btn-primary col-md-6"
                                    style="background-color: #6d6d6d;border-color: #6d6d6d;" disabled="disabled">Stay
                                tuned
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="info_box">
                    <div class="left_logo_box">
                        <img class="left_logo" src="images/Global.png" alt="" srcset="">
                    </div>
                    <div class="right_content row">
                        <div class="right_content_top">
                            <h3>Global parcels express</h3>
                            <p>The cheapest price to you the best service</p>
                        </div>
                        <div class="right_content_btn">
                            <button type="button" class="btn btn-primary col-md-6"
                                    style="background-color: #6d6d6d;border-color: #6d6d6d;" disabled="disabled">Stay
                                tuned
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!--jquery js-->
<script src="http://static.dev.4px.com/fpxres/jquery/lastest/jquery.js" defer="defer"></script>

<!--bootstrap js-->
<script src="http://static.dev.4px.com/fpxres/bootstrap/lastest/js/bootstrap.js" defer="defer"></script>

<!--通知插件js-->
<script src="http://static.dev.4px.com/fpxres/noty/lastest/jquery.noty.js" defer="defer"></script>

<!--弹出框js-->
<script src="http://static.dev.4px.com/fpxres/layer/lastest/layer.js" defer="defer"></script>

<!--用于鼠标滚动时，导航条固定-->
<script src="http://static.dev.4px.com/fpxres/sticky/lastest/jquery.sticky.js" defer="defer"></script>

<!--form表单插件-->
<script src="http://static.dev.4px.com/fpxres/form/lastest/jquery.form.js" defer="defer"></script>

<!--校验插件-->
<script src="http://static.dev.4px.com/fpxres/validation/lastest/jquery.validate.js" defer="defer"></script>

<!--UED自带的JS-->
<script src="http://static.dev.4px.com/fpxres/ued/lastest/fpx.ued.base.js" defer="defer"></script>

<!--UED自带的JS-->
<script src="http://static.dev.4px.com/fpxres/ued/lastest/fpx.ued.plugin.js" defer="defer"></script>
</body>
</html>